.bottle {
    translate: 0 80px;
    rotate: 150deg;
    animation: float 3s ease-in-out infinite;
  }

  @keyframes float {
    0%   { transform: translate(-50%, 0px); }
    50%  { transform: translate(-50%, -10px); }
    100% { transform: translate(-50%, 0px); }
  }