.waveContainer{
    position: absolute;
    bottom: 0;
    height: 40vh;
    left: 0;
    right: 0;
    width: 100%;
    transition: 2s ease-out;
    overflow: hidden;
}

.waveContainer > .wave {
    position: absolute;
    height: 100%;
    bottom: -20px;
    overflow: hidden;
}
